@model IEnumerable<DeliveryService.Models.Entities.PickUpAddress>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.ToList().Count != 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}

@Html.ActionLink("Back to Dashboard", "Index", "ShipperDashboard")
