@using DeliveryService.Models.Entities;
@model IEnumerable<DeliveryService.Models.Entities.Delivery>

    @{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Route deliveries</h2>

    @if (Model.Count() != 0)
    {
    <table class="table">
        <thead>
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Status summary
                </th>
                <th>Deliver by</th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>

                    @Html.ActionLink( item.Client.FirstName + " " + item.Client.LastName, "Details", "Clients", new  { id=item.ClientID})
                </td>
                <td>
                    @Html.DisplayFor(model => @item.DeliveryStatus.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => @item.DeliverBy)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a asp-action="Edit" class="list-group-item" asp-route-id="@item.ID">Edit</a></li>
                            <li>
                                @using (Html.BeginForm("DeleteDeliveryFromRoute", "Routes", FormMethod.Post)){

                                <input type="hidden" value="@item.ID" name="id" />
                                <button type="submit" class="list-group-item list-group-item-danger">Remove from the route</button>

                                }
                            </li>
                        </ul>
                    </div>


                </td>
            </tr>
            }
        </tbody>
    </table>
    }
    @Html.ActionLink("Back to Routes", "Index", "Routes")

