@model DeliveryService.Models.Entities.Team

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Team</h1>
@if (Model == null)
{
<p>
    <a asp-action="Create">Create new team</a>
</p>
}
else 
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Drivers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

        <tr>
            <td>
                @if (Model.Drivers.Count == 0)
                {

                    <a asp-action="AddDriver" class="btn" >Invite driver</a>

                }
                else
                {
                @foreach (var driver in Model.Drivers)
                {
                    @driver.User.NormalizedUserName<br/>
                }
                }

            </td>
            <td>
                @foreach (var employee in Model.Employees   )
                {
                    @employee.NormalizedUserName<br />
                }
            </td>
           
            <td>
                <a asp-action="AddEmployee" class="btn">Add Employee</a> 
                <a asp-action="AddDriver" class="btn" >Invite driver</a>

            </td>
        </tr>
        }
        
    </tbody>
</table>
}

@Html.ActionLink("Back to Dashboard", "Index", "ShipperDashboard")