@model IEnumerable<DeliveryService.Models.Entities.DriverHoliday>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Holidays</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (Model.ToList().Count != 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@Html.ActionLink("Back to my details", "Index", "DriverDetails", null, new { @class = "btn btn-default" })