@model DeliveryService.Models.Entities.Delivery

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
            @Html.ActionLink("See client details", "Details", "Clients", new { id=Model.ClientID})
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUpAddress.LineOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickUpAddress.LineOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUpAddress.LineTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickUpAddress.LineTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUpAddress.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickUpAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickUpAddress.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickUpAddress.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryStatus.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryStatus.Status)
        </dd>
      

</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
