@model DeliveryService.Models.Entities.Team

@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Team</h1>
@if (Model == null)
{
<p>
    <a asp-action="Create">Create new team</a>
</p>
}
else 
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drivers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Description)
            </td>
            <td>
                @if (Model.Drivers.Count == 0)
                {

                    <a asp-action="AddDriver" class="btn" asp-route-id="@Model.ID">Invite driver</a>

                }
                else
                {
                @foreach (var driver in Model.Drivers)
                {
                    @driver.User.NormalizedUserName<br/>
                }
                }

            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                <a asp-action="AddDriver" class="btn" asp-route-id="@Model.ID">Invite driver</a>

            </td>
        </tr>
        }
        
    </tbody>
</table>
}

@Html.ActionLink("Back to Dashboard", "Index", "ShipperDashboard")