@using DeliveryService.Models.Entities;
@model IEnumerable<DeliveryService.Models.Entities.Delivery>


@{
    ViewData["Title"] = "My deliveries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deliveries</h2>

@if (Model.Count() != 0)
{
    
    <p class="text-danger">
        @TempData["StatusUpdate"]
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Client details
                </th>
                <th>
                    Pick up address
                </th>
                <th>
                    Client's address
                </th>
                <th>
                    Status summary
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => @item.Client.FirstName)
                        @Html.DisplayFor(model => @item.Client.LastName) 
                    </td>
                    <td>
                        @Html.DisplayFor(model => @item.PickUpAddress.LineOne) <br />
                        @Html.DisplayFor(model => @item.PickUpAddress.City)<br />
                        @Html.DisplayFor(model => @item.PickUpAddress.PostCode)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(model => @item.Client.Address.LineOne) <br />
                        @Html.DisplayFor(model => @item.Client.Address.City)<br />
                        @Html.DisplayFor(model => @item.Client.Address.PostCode)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(model => @item.DeliveryStatus.Status)

                    </td>
                    <td>


                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Options
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                
                                <li>
                                    @using (Html.BeginForm("UpdateStatus", "DriverDeliveries", new { id = @item.ID, status = Status.PickedUpByDriver }, FormMethod.Post))
                                    {
                                        <input type="submit" class="btn" value="Mark as picked up" />

                                    }
                                </li>
                                <li>
                                    @using (Html.BeginForm("UpdateStatus", "DriverDeliveries", new { id = @item.ID, status = Status.InTransit }, FormMethod.Post))
                                    {
                                        <input type="submit" class="btn" value="Mark as in transit" />

                                    }
                                    </li>
                                <li>
                                    @using (Html.BeginForm("UpdateStatus", "DriverDeliveries", new { id = @item.ID, status = Status.Delivered }, FormMethod.Post))
                                    {
                                        <input type="submit" class="btn" value="Mark as delivered" />

                                    }
                                 </li>
                                <li>
                                       @Html.ActionLink("See driving directions", "Navigation", "DriverDeliveries", new { id = @item.ID })
                                </li>
</ul>
</div>
</td>
                </tr>
            }
        </tbody>
    </table>
}
@Html.ActionLink("Back to Dashboard", "Index", "DriverDashboard")
