@using DeliveryService.Models.Entities
@model Driver

@{
    ViewData["Title"] = "My details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>My details</h1>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.User.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.Email)
    </dd>

    <dt>
        First name:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.DisplayFirstName)
    </dd>

    <dt>
        Last name:
    </dt>
    <dd>
        @Html.DisplayFor(model => model.User.DisplayLastName)
    </dd>
    </dl>
    <br />
    
    @if (@Model.Address != null)
    {
        <h3>My address   <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Address.ID">Edit</a></h3>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Address.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address.LineOne)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.LineOne)
            </dd>
            @if (@Model.Address.LineTwo != null)
            {

                <dt>
                    @Html.DisplayNameFor(model => model.Address.LineTwo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Address.LineTwo)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Address.PostCode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address.PostCode)
            </dd>
        </dl>

    }
    else
    {
        <p>
            <a class="btn btn-default" asp-action="Create">Add address</a>
        </p>
    }

    <h3>Holidays <span class="btn btn-default">@Html.ActionLink("Manage my time off", "Index", "DriverHolidays")</span></h3>

    <br />
    <br />
    <p class="btn btn-default">@Html.ActionLink("Back to dashoard", "Index", "DriverDashboard")</p>
