@using DeliveryService.Models.Entities
@model Company

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Shipper's dashboard</h1>


<p class="btn btn-default">@Html.ActionLink("My Team", "Index", "Team")</p>
<p class="btn btn-default">@Html.ActionLink("My clients", "Index", "Clients")</p>
<p class="btn btn-default">@Html.ActionLink("Deliveries", "Index", "ShipperDeliveries")</p>
<p class="btn btn-default">@Html.ActionLink("Depots", "Index", "PickUpLocations")</p>
<p class="btn btn-default">@Html.ActionLink("Scheduling", "Index", "Scheduling")</p>
<p class="btn btn-default">@Html.ActionLink("Routes", "Index", "Routes")</p>
<br />