@using DeliveryService.Models.Entities
@model Shipper

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Shipper's dashboard</h1>


<p class="btn btn-default">@Html.ActionLink("See Team", "Index", "Teams")</p>
<p class="btn btn-default">@Html.ActionLink("See clients", "Index", "Clients")</p>
<p class="btn btn-default">@Html.ActionLink("See Deliveries", "Index", "ShipperDeliveries")</p>
<br />
@if (Model.DefaultPickUpAddress == null)
{

    @Html.ActionLink("Add default pick up address", "AddDefaultPickUpAddress", "ShipperDashboard")
}
else
{
    <h2>Default delivery pick up address</h2>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPickUpAddress.LineOne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultPickUpAddress.LineOne)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPickUpAddress.LineTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultPickUpAddress.LineTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPickUpAddress.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultPickUpAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DefaultPickUpAddress.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefaultPickUpAddress.PostCode)
        </dd>
    </dl>

}
